node_modules
.next
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
*.log
*.swp
*.tmp
.cache
coverage
dist
.nvmrc
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.tsbuildinfo
next-env.d.ts